@page "/"
@model HomeIndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click here to see all the  <a href="achievements/index">Achievements!</a>.</p>
    <p>Click here to see the   <a href="Calendar">Calendar!</a>.</p>


</div>